style type="text/css">


body {
     margin: 0px ;
}

/* Grids */

#grid_parent {
     display: grid ;
     /* align-items: stretch ; */
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas:
     'header header header header'
     'main-content main-content main-content main-content'
     'footer footer footer footer'
}

#grid_about {
     display: grid ;
     align-items: stretch ;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas:
     'header header header'
     'photo text text'
     'footer footer footer'
}

#grid_process_insp {
     display: grid ;
     /* align-items: stretch ; */ */
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-areas:
     'header header header header'
     'main-content main-content main-content main-content'
     /* 'left_column main-content main-content left_column' */
     'footer footer footer footer'
}


#grid_shop {
     display: grid ;
     align-items: stretch ;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas:
     'header header header'
     'photo photo photo'
     'footer footer footer'
}

/* About css */

section.photo {
     grid-area: photo;

}

/* About Page Main-content */

section.text {
     grid-area: text;
     /* grid-area: left_column; */
     font-family: mr-eaves-sans,sans-serif;
     font-weight: 400;
     font-style: normal;
     text-align: left;
     font-size: 25px;
     position: -webkit-sticky;
     position: sticky;
     padding: 50px;
}

/* Navigation */
section.header {
     grid-area: header ;
     text-decoration: none;
     background-color: rgba(173, 184, 198); /* greyish blue */
     color: rgba(0, 0, 0);
     font-family: mrs-eaves, serif;
     font-weight: 400;
     font-style: normal;
     font-size: 25px;
     width: 100%;
     text-align: center;
}

ul {
     list-style-type: none;
     border: 5px solid rgba(173, 184, 198);
}

li {
     display: inline;
     padding: 50px;
     width: 100%;
}

li.CMP {
     font-family: mrs-eaves-roman-small-caps, sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 28px;
          word-spacing: 5px;
}


/* Main-content */
section.hero-image {
     grid-area: main-content;
}

/* Image Gallery */

* {
     /* box-sizing: border-box; */
     grid-area: main-content;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
     position: relative;
}

/* Hide the images by default */
.inspiration {
     display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
     cursor: pointer;
}

/* Next & previous arrows */
.prev,
.next {
     cursor: pointer;
     position: absolute;
     top: 40%;
     width: auto;
     padding: 16px;
     margin-top: -50px;
     color: white;
     font-weight: bold;
     font-size: 30px;
     border-radius: 0 3px 3px 0;
     user-select: none;
     -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
     right: 0;
     border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color with a little bit see-through */
.prev:hover,
.next:hover {
     background-color: rgba(173, 184, 198, 0.8);
}
/* Number text (1/4 etc) */
.numbertext {
     color: rgba(255, 255, 255);
     font-family: mr-eaves-sans,sans-serif;
     font-weight: 400;
     font-style: normal;
     font-size: 20px;
     padding: 8px 12px;
     position: absolute;
     top: 0;
}

/* Container for image text */
.caption-container {
     font-family: mrs-eaves, serif;
     font-weight: 400;
     font-style: normal;
     font-size: 25px;
     text-align: center;
     background-color: rgba(173, 184, 198); /* greyish blue */
     padding: 2px 16px;
     color: white;
}

.row:after {
     content: "";
     display: table;
     clear: both;
}

/* Four columns side by side */
.column {
     float: left;
     width: 25%;
}
/* Add a transparency effect for thumnbail images */
.demo {
     opacity: 0.6;
     /* color: rgba(173, 184, 198, 0.6); */
}

.active,
.demo:hover {
     opacity: 1;
}

/* Footer */

section.footer {
     grid-area: footer ;
     font-family: mrs-eaves-roman-small-caps, sans-serif;
     font-weight: 400;
     font-style: normal;
     text-align: center;
     font-size: 20px;
     background-color: rgba(173, 184, 198); /* greyish blue */
     color:  rgba(0, 0, 0);
}
